body {
  background-color: rgb(1 52 55) !important;
}

.todo-table {
  width: 85% !important;
}

.title {
  width: 85%;
}

.description {
  width: 85%;
}

.buttons {
  margin-left: 110px;
  padding: 12px;
}

.clear {
  margin-left: 16px;
}

.button:hover {
  background-color: white !important;
  color: black !important;
}

.button-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 20px !important;
}

.glitter {
  color: #fff;
  background: #262626;
  position: relative;
}

.glitter::after,
.glitter::before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  position: absolute;
  top: -2px;
  border-radius: 5px;
  left: -2px;
  z-index: -1;
  animation: animated-shadow 10s linear infinite alternate;
}

.glitter::after {
  filter: blur(30px);
}

@keyframes animated-shadow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
